ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;
}

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body>div {
    padding: 16px 20%;
}

button {
    background-color: #3882F6;
    border: none;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 900;
    padding: 8px 32px;
    border-radius: 8px;
}

.hero,
.footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.testimonial {
    background-color: #e5e7eb;
}

.hero,
.info,
.testimonial,
.cta {
    display: flex;
    justify-content: center;
}

.container {
    width: 1000px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: 900;
}

.nav ul {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 24px;
}

.hero .splash {
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .left {
    padding-right: 48px;
}

.hero .title {
    font-size: 48px;
    font-weight: 900;
}

.hero .text {
    color: #e5e7eb;
    margin-bottom: 16px;
}

.img-placeholder {
    background-color: #666;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info,
.testimonial {
    color: #1f2937;
}

.info .title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 48px;
}

.info>.container{
    padding-top: 48px;
    padding-bottom: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block .img {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 16px;
    margin-bottom: 8px;
}

.block {
    text-align: center;
    width: 172px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocks {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.block .text {
    color: #3a4e69;
}

.testimonial>.container {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 790px;
}

.quote {
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
}

.client {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

.cta {
    display: flex;
    justify-content: center;
}

.cta>.container{
    box-sizing: border-box;
    color: #f9faf8;
    background-color: #3882F6;
    margin: 100px 0;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    gap: 16px;
}

.cta .left {
    display: flex;
    flex-direction: column;
}

.cta .sub-title {
    font-size: 24px;
    font-weight: 700;
}

.cta .text {
    color: #e5e7eb;
}

.cta button {
    border: solid 2px #f9faf8;
}

.footer {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}